{% extends 'base.html' %}
{% load static %}
{% block title %} Home page {% endblock %}

{% block content %}
<!-- Header -->
<header id="home" class="header">
  <img src="{% static  'website/images/banner.png'  %}" alt="" class="hero-img" />

  <div class="hero-content">
    <h2><span class="discount">70% </span> SALE OFF</h2>
    <h1>
      <span>Summer Vibes</span>
      <span>mode on</span>
    </h1>
    <a class="btn" href="#">shop now</a>
  </div>
</header>
<!-- Main -->
<main>
  <section class="advert section">
    <div class="advert-center container">
      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Girls <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="{% static  'website/images/advert1.png'  %}" alt="">
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Summer <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="{% static  'website/images/advert2.png'  %}" alt="">
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Boys <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="{% static  'website/images/advert3.png'  %}" alt="">
      </div>
    </div>
  </section>

  <!-- Featured -->
  <section class="section featured">
    <div class="title">
      <h1>Featured Products</h1>
    </div>

    <div class="product-center container">
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic2.jpg'  %}" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic1.jpg'  %}" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic3.jpg'  %}" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic4.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
    </div>
  </section>

  <!--Latest -->
  <section class="section featured">
    <div class="title">
      <h1>Latest Products</h1>
    </div>

    <div class="product-center container">
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic5.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic2.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic1.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic4.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic1.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic3.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic2.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static  'website/images/pic5.jpg'  %}" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#">
            <h3>Boy’s T-Shirt</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- Product Banner -->
  <section class="section">
    <div class="product-banner">
      <div class="left">
        <img src="{% static  'website/images/test.jpg'  %}" alt="" />
      </div>
      <div class="right">
        <div class="content">
          <h2><span class="discount">70% </span> SALE OFF</h2>
          <h1>
            <span>Collect Your</span>
            <span>Kids Collection</span>
          </h1>
          <a class="btn" href="#">shop now</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="section">
    <div class="testimonial-center container">
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static  'website/images/profile1.jpg'  %}" alt="" />
        </div>
        <h4>Will Smith</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static  'website/images/profile2.jpg'  %}" alt="" />
        </div>
        <h4>Will Smith</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static  'website/images/profile3.jpg'  %}" alt="" />
        </div>
        <h4>Will Smith</h4>
      </div>
    </div>
  </section>

  <!-- Brands -->
  <section class="section">
    <div class="brands-center container">
      <div class="brand">
        <img src="{% static  'website/images/brand1.png'  %}" alt="" />
      </div>
      <div class="brand">
        <img src="{% static  'website/images/brand2.png'  %}" alt="" />
      </div>
      <div class="brand">
        <img src="{% static  'website/images/brand1.png'  %}" alt="" />
      </div>
      <div class="brand">
        <img src="{% static  'website/images/brand2.png'  %}" alt="" />
      </div>
      <div class="brand">
        <img src="{% static  'website/images/brand1.png'  %}" alt="" />
      </div>
      <div class="brand">
        <img src="{% static  'website/images/brand2.png'  %}" alt="" />
      </div>
    </div>
  </section>
</main>

{% endblock %}