{% extends 'base.html' %}
{% load static %}
{% block title %} Product Details {% endblock %}

{% block content %}
<!-- Product Details -->
<section class="section product-detail">
    <div class="details container-md">
        <div class="left">
            <div class="main">
                <img src="{{ product.product_photo_1.url }}" alt="">
            </div>
            <div class="thumbnails">
                <div class="thumbnail">
                    <img src="{{ product.product_photo_2.url }}" alt="{{ product.product_photo_2 }}">
                </div>
                <div class="thumbnail">
                    <img src="{{ product.product_photo_3.url }}" alt="{{ product.product_photo_3 }}">
                </div>
                <div class="thumbnail">
                    <img src="{{ product.product_photo_4.url }}" alt="{{ product.product_photo_4 }}">
                </div>
                <div class="thumbnail">
                    <img src="{{ product.product_photo_5.url }}" alt="{{ product.product_photo_5 }}">
                </div>
            </div>
        </div>
        <div class="right">
            <h1> {{ product.product_name }} </h1>
            <div class="price">$ {{ product.product_price }}</div>
            <form>
                <div>
                    <select>
                        {%for product_size in product.product_size_id.all%}
                        <option value="Select Size">
                            {{product_size.product_size}}
                        </option>
                        {%endfor%}
                    </select>
                    <span><i class='bx bx-chevron-down'></i></span>
                </div>
            </form>

            <form class="form">
                <input type="text" placeholder="1">
                <a href="{% url 'card' %}" class="addCart">Add To Cart</a>
            </form>
            <h3>Product Detail</h3>
            <p> {{ product.product_info }} </p>



        </div>
    </div>
</section>

<!-- Related -->
<section class="section featured">
    <div class="top container">
        <h1>Tegishli mahsulotlar</h1>
        <a href="{% url 'product' %}" class="view-more">Ko'proq ko'rish</a>
    </div>

    <div class="product-center container">

        {% for product in product_view %}
        <div class="product">
            <div class="product-header">
                <img src="{{ product.product_photo_1.url }}" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <a href="{% url 'card' %}"> <span><i class="bx bx-shopping-bag"></i></span>
                    </a>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="product-footer">
                <a href="{% url 'product_details' product.id %}">
                    <h3>{{ product.product_name }}</h3>
                </a>
                <div class="rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="price">$ {{ product.product_price }}</h4>
            </div>
        </div>
        {% endfor %}


    </div>
</section>

{% endblock %}