{% load static %}
<nav class="nav">
    <div class="navigation container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'website/images/logo.png' %}" alt="OnsonSavdo.uz"
                    class="logopng"></a>
        </div>

        <div class="menu">
            <div class="top-nav">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'website/images/logo.png' %}" alt="OnsonSavdo.uz"
                            class="logopng"></a>
                </div>
                <div class="close">
                    <i class="bx bx-x"></i>
                </div>
            </div>

            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Asosiy</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product' %}" class="nav-link">Mahsulotlar</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">Biz haqimizda</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Biz bilan bog'lanish</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accaunt' %}" class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link icon"><i class="bx bx-shopping-bag"></i></a>
                </li>
            </ul>
        </div>

        <a href="#" class="cart-icon">
            <i class="bx bx-shopping-bag"></i>
        </a>

        <div class="hamburger">
            <i class="bx bx-menu"></i>
        </div>
    </div>
</nav>